<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Metamorphous&family=Fira+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% if is_dev %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    {% endif %}

    <title>MHGUi</title>
</head>

<body>
    <div id="app">
        {% block content %}{% endblock %}
    </div>
    {{ vite_tag('main.ts') | safe }}
</body>

</html>